<link rel="stylesheet" href="~/Content/main.css" />

@using PagedList.Mvc
@model PagedList.IPagedList<AppServices.Dtos.PacienteDto>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/main.css" />

<section id="details_paciente" class="main">
    <div class="container">
        <div class="content">
            <header class="major">
                <h2>Paciente</h2>
            </header>
            <section>
                <ul class="actions">
                    <li>@Html.ActionLink("Novo", "Create", null, new { @class = "button special scrolly" })</li>
                </ul>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Data Nascimento</th>
                                <th>Alterar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.PacienteNome)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PacienteDataNascimento)</td>
                                    <td>@Html.ActionLink("Alterar", "Edit", new {  id = item.PacienteId })</td>
                                    <td>@Html.ActionLink("Excluir", "Delete", new { id = item.PacienteId })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { pageNumber }))
            </section>
        </div>
    </div>
</section>
